<p id="notice"><%= notice %></p>

<h1>Alarms</h1>

<% @alarms.each do |alarm| %>
  <div class="row">
    <div class="col-xs-2 text-center">
      <h4><b><%= alarm.time.strftime('%H:%M') %></b></h4>
    </div>
    <div class="col-xs-2">
      <h4><%= alarm.repeat %></h4>
    </div>
    <div class="col-xs-2">
      <h4><%= alarm.is_active ? "Activada" : "Desactivada" %></h4>
    </div>
    <div class="col-xs-3">
      <h4>
        <%= link_to 'Show', alarm, class: 'btn btn-primary', style: 'color:white;' %>
        <%= link_to 'Edit', edit_alarm_path(alarm), class: 'btn btn-success' %>
        <%= link_to 'Destroy', alarm, method: :delete, class: 'btn btn-danger', style: 'color:white;', data: { confirm: 'Are you sure?' } %>
      </h4>
    </div>
  </div>
  <hr>
<% end %>

<br>

<%= link_to 'New Alarm', new_alarm_path %>
